@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.rti--input:focus {
  box-shadow: none;
  max-width: 12rem !important;
  min-width: 2rem !important;
  outline: 0px;
}

.rti--input {
  height: auto !important;
  width: fit-content !important;
}
